.homeTitle {
    margin-left: 37%;
}

.tendanceTitle {
    margin-left: 45%;
}

.tendances {
    margin-top: 5%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.resume {
    margin-top: 5%;
}